main{
    height: 30rem;
}
.buscadorAdmin{
    display: flex;
    margin-left: 5%;
    margin-top: 2rem;
}
.imgBuscarLupa{
    width: 2rem;
    flex-shrink: 0;
    margin-right: 1rem;
}
.inputBuscarLupa{
    width: 35%;
    flex-shrink: 0;
    border-radius: 6px;
    border: 2px solid #30343F;
    
}
/*Seccion tabla....................................................*/
.tituloTablaAdmin{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    margin-top: 2rem;
}
.tituloPrincipalTabla{
    color: #1F1F1F;
    text-align: right;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.subtTituloBoton{
    display: flex;
    align-items: center;
}
.tituloSecundarioTabla{
    color: #1F1F1F;
    text-align: right;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}
.imgBotonAgregar{
    width: 2.5rem;
    flex-shrink: 0;
    margin-left: 1rem;
}
/*interior tabla..................................*/
.tituloProductoTabla{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    justify-content: space-between;
    color: #1F1F1F;
    text-align: right;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.96px;
    text-align: left;
}
.idTitulo{
    width: 5%;
}
.codigoTitulo{
    width: 25%;
    
}
.productoTitulo{
    width: 30%;
}
.categoriaTitulo{
    width: 20%;
}
.vacio{
    width: 20%;
}
.productoIngresadoAdmin{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}
.textoProductoIgresado{
    margin-top: 1rem;
    display: flex;  
    width: 100%; 
    text-align: left;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.96px;
}
.idIngresado{
    width: 6%;
}
.codigoIngresado{
    width: 30.5%;
}
.productoIngresado{
    width: 36.7%;
}
.categoriaIngresado{
    width: 20%;
}
.imgProductoIgresado{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.lapizEditar{
    width: 1.7rem;
    margin-right: 1rem;
}
.trashAdmin{
    width: 1.8rem;
}
@media screen and (max-width:480px){

    .inputBuscarLupa{
        width: 15rem;        
    }
    /*Seccion tabla....................................................*/
    .tituloTablaAdmin{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .tituloPrincipalTabla{

        font-size: 1rem;
        text-align: start;
    }
    .subtTituloBoton{
        display: flex;
        align-items: center;
    }
    .tituloSecundarioTabla{
        font-size: .8rem;
    }
    .imgBotonAgregar{
        width: 2rem;
        margin-left: .5rem;
    }
    /*interior tabla..................................*/
    .tituloProductoTabla{
        margin: 5% 2% 2% 3%;
        font-size: .7rem;
    }

    .productoIngresadoAdmin{
        margin-left: 3%;
        margin-right: 3%;
    }
    .textoProductoIgresado{
        font-size: .7rem;
        gap: .4rem;
    }

    .lapizEditar{
        width: 1.4rem;
        margin-right: .5rem;
    }
    .trashAdmin{
        width: 1.4rem;
    }
}