
#cabeceraUsuario { 
    width: auto ;
    height: 11rem;
    flex-shrink:0;
    background: #30343F;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


a:link {
    color: #FFFFFF;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: lightblue;
}

a:active {
    color: #FF4848;
}
.logoMenu{
    width: 40rem;
    height: auto;
    padding: 10rem 4rem;
    margin-left: 7rem;

 }
.navHeaderUsuario{
    display: flex;
    margin-right: 10rem;
}
.menuHeader-link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 2rem
}
.iconoDesplegableMenu{
    background-image: url(/multimedia/icono-desplegable.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    width: 1rem;
    height: 2rem;
    background-position: center center ;
    border:1rem;
    margin-left: 0.5rem;
  
   
}
footer{
    width: auto ;
    height: 27rem;        
    flex-shrink:0;
    background: #30343F;
}
.footerUsuario{
    width: auto;
    height: 20rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 19rem;
    margin-right: 22rem;

}
.navFooter a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.5rem;
    
}
.logoFooter img{
    width: 16rem;
    margin-top: 4rem;
}
footer p{
    color: #FFF;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
}


