


#cabeceraUsuario { 
    width: 90rem ;
    height: 9rem;
    flex-shrink:0;
    background: #30343F;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


a:link {
    color: #FFFFFF;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: lightblue;
}

a:active {
    color: #FF4848;
}
.navHeaderUsuario{
    display: flex;
    margin-right: 6rem;


}
.menuHeader-link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 2rem
 

   

}
 .logoMenu{
    width: 23rem;
    height: auto;
    padding: 10rem 4rem;

 }

